<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p>You have recieved a message from the Asm - Impex, Thank You for choosing us. We will return back to inqueries as asked. form<%= "#{ @name }, #{ @email }." %></p>
        <p><%= @body %></p>
    </body>    
</html>