@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

 

.nav {
    font-size: 15px;
}

.main {
    padding-top: 40px;
    width: 100%;
}

.show.html.erb {
    margin-top: 40px;
}

.body {
    font-family: 'Maven Pro', sans-serif;
    margin-top: 40px;
}

.btn-default, .btn {
    background: #000;
    color: #fff;
}

.carousel-inner img {
    -webkit-filter: grayscale(10%);
    width: 100%; /* Set width to 100% */
}

.carousel-caption h3, .p {
    color: #fff;
    font-family: 'Maven Pro', sans-serif;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.hidden { 
    display: none; 
} 

.logo {
    width: 100%; 
}

.jumbotron, .h1 {
    background: #ffffe6;
    color: #6b6b47;
    padding: 100px 25px;
}

.container-fluid {
    padding: 60px 50px;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #6b6b47;
}