<div class="jumbotron">
  <div class="container text-center">
      <h1>ASM Impex</h1> 
      <p>We specialize in online-shopping</p>
    </div>
</div>
          
            
<div class="flex one three-1000">
    <% @products.each do |product| %> 
        <article class="card">
            <img src="<%= product.picture %>"> 
            <footer> 
                <h3><%= product.title %></h3>
                <%= link_to "Buy", product_path(product), class: "btn btn-default" %> 
            </footer>
        </article>
    <% end %>
</div>
